# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.dart_tool
/.dart_tool
/.idea
/.dart_tool
/.dart_tool
/.dart_tool
.dart_tool/flutter_build/fccb01ef4fa7764548c00f37f683a6a3/.filecache
/.dart_tool
/.dart_tool/flutter_build
/.dart_tool
.dart_tool/flutter_build/8ef2046813d17b7fa924b1c441531226/.filecache
.dart_tool/flutter_build/8ef2046813d17b7fa924b1c441531226/.filecache
/.dart_tool
*.dill
/.dart_tool
